# rcov generated
coverage

# rdoc generated
rdoc

# yard generated
doc

# jeweler generated
pkg

# Has to be ignored, since JRuby and Ruby have different platform deps
Gemfile.lock

*.gemspec
target
*.gem

autotest
.*

felix-cache
