# rcov generated
coverage

# rdoc generated
rdoc

# yard generated
doc
.yardoc

# bundler
.bundle

# jeweler generated
pkg

# Has to be ignored, since JRuby and Ruby have different platform deps
Gemfile.lock

*.gemspec
.project
.settings
.classpath
target
*.gem

autotest
