# rcov generated
coverage

# rdoc generated
rdoc

# yard generated
doc

# jeweler generated
pkg

*.gemspec
target
*.gem

# Due to different deps in java vs mri gems, cant store Gemfile.lock
Gemfile.lock

autotest

felix-cache

# IntelliJ IDEA
/.idea/
/*.iml
